:root{
    --fonte-pro: 'Roboto', sans-serif;
    --amarelo-1: #ffb636;
    --branco-1: #fff;
    --bg-escuro-1: #1f1f23;
    --bg-escuro-2: #1B1A20;
    --text-footer: #787878;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--amarelo-1);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: var(--fonte-pro);
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  @media(max-width: 900px){
    .overlay a{
      font-size: 16px;
    }
  }

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
